{{ partial "header.html" . }}
<body>
<div id="wrapper">
    <div id="header">
        {{ partial "title.html" . }}
        {{ partial "topmenu.html" . }}
    </div>
    <div id="contents">
        {{ partial "colleft.html" . }}
        <div id="colcenter">
            <h1>{{ .Title }}</h1>
            <hr/>
            {{ partial "slot-toplboard.html" . }}
            {{ .Content }}
        </div>
        {{ partial "colright.html" . }}
    </div>
</div>
{{ if ne .Site.Params.offline true }}
    {{ partial "cookieconsent.html" . }}
{{ end }}
</body>
{{ partial "footer.html" . }}
