<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SystemRescue - {{ .Title }}</title>
  <link rel="stylesheet" href="/system-rescue.css" type="text/css"/>
  <link rel="stylesheet" href="/cookieconsent.min.css" type="text/css"/>
  {{ hugo.Generator }}
  {{ partial "slot-header.html" . }}
</head>
