<div id="topmenu">
    <ul>
        <li><a href="{{ .Site.BaseURL  }}">Homepage</a></li>
        <li><a href="/manual/">Manual</a></li>
        <li><a href="/Quick_start_guide/">Quick&nbsp;Start</a></li>
        <li><a href="/disk-partitioning/">Disk&nbsp;Partitioning</a></li>
        <li><a href="/lvm-guide-en/">LVM&nbsp;Guide</a></li>
    </ul>
</div>
